[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/eosio/clang.git
[submodule "tools/lld"]
	path = tools/lld
	url = https://github.com/cryptcoin-junkey/lld.git
	branch = pr-crash-bug
